# Полная строка подключения MongoDB (база данных в URI — vpn)
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/vpn?retryWrites=true&w=majority&appName=vostok

# Секрет для подписи JWT (используйте длинную случайную строку в продакшене)
JWT_SECRET=your_super_secret_key_change_me

# Срок жизни токена (опционально, по умолчанию 7d)
JWT_EXPIRES_IN=7d

# Порт HTTP-сервера
PORT=3000
